<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Follow #<%= @follow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/follows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_follow/<%= @follow.id %>" class="btn btn-block btn-outline-secondary">
          Delete follow
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Source
      </dt>
      <dd>
        <%= @follow.source_id %>
      </dd>

      <dt>
        Follower
      </dt>
      <dd>
        <%= @follow.follower_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@follow.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@follow.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit follow
    </h2>

    <form action="/modify_follow/<%= @follow.id %>"  method="post" >
      <div class="form-group">
        <label for="source_id_box">
          Source
        </label>

        <input type="text" id="source_id_box" name="query_source_id" class="form-control" value="<%= @follow.source_id %>">
      </div>

      <div class="form-group">
        <label for="follower_id_box">
          Follower
        </label>

        <input type="text" id="follower_id_box" name="query_follower_id" class="form-control" value="<%= @follow.follower_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update follow
      </button>
    </form>
  </div>
</div>

<hr>
